body {
	width: 400px;
	padding: 4px 16px;
	background-color: #FDBD36;
	font-family: "Open Sans", sans-serif;
}

::-webkit-scrollbar { width: 12px; }
::-webkit-scrollbar-track { background-color: #ecae36;}
::-webkit-scrollbar-thumb { background-color: #d69b33; }

a { color: rgba(0, 0, 0, 0.35); }
h2 { font-size: 1.15em; }
h2, h3, h5, h6 { margin: 0; }
hr { height: 1px; background-color: rgba(0, 0, 0, 0.25); border: none; }

label {
	font-size: 1.2em;
}

input {
	width: 100%;
	padding: 8px;
	margin: 6px 0;
	box-sizing: border-box;
	border: 1px solid #DEA333;
	font-size: 1.35em;
	transition: box-shadow 0.35s;
}

input:focus {
	outline: none;
	box-shadow: 0 0 32px white;
}

a.btn {
	display: inline-block;
	background-color: #FDBD36;
	color: black;
	border: 2px solid black;
	padding: 8px 14px;
	margin-top: 10px;
	cursor: pointer;
	text-decoration: none;
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	transition: background-color 0.35s;
}

a.btn:hover { background-color: #FFD877; }
a.btn:active { background-color: #F5AA12; }

#page-add { display: none; }

.header { text-align: right; }
.footer { text-align: right; }

table#cards { width: 100%; border-spacing: 4px 0; }
table#cards td { border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
table#cards td:last-child { text-align: right; }

.drag { opacity: 0.35; }
.drop { outline: 1px dashed rgba(0, 0, 0, 0.75); }

#status { display: none; padding-top: 10px; }

.muted { color: rgba(0, 0, 0, 0.3); }
.error { color: #F7512A; font-weight: bold; }

@-webkit-keyframes loading-animation {
	100% { -webkit-transform: rotate(360deg); }
}

.loading {
	display: inline-block;
	width: 22px;
	height: 22px;
	background: url('../img/loading.png');
	-webkit-animation: loading-animation 1s linear infinite;
}
